<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019774045667-41jpjker6vk12uaui19u47994j3ea41f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019774045667-41jpjker6vk12uaui19u47994j3ea41f</string>
	<key>API_KEY</key>
	<string>AIzaSyClW_IqbfGVwz9Lmz1XBkRLF369seLYUSk</string>
	<key>GCM_SENDER_ID</key>
	<string>1019774045667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.GastosProvider</string>
	<key>PROJECT_ID</key>
	<string>gastos-ios-mvp1</string>
	<key>STORAGE_BUCKET</key>
	<string>gastos-ios-mvp1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019774045667:ios:4df747d199e199168ee4d6</string>
	<key>DATABASE_URL</key>
	<string>https://gastos-ios-mvp1-default-rtdb.firebaseio.com</string>
</dict>
</plist>